.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache/
pkg
Icon?
.DS_Store
.swp
TAGS
REVISION
*.tmproj
*~
.autotest
.settings
.project
.tasks-cache
.svn
/nbproject
/.idea
tmp/
*DONOTVERSION*
/coverage
/coverage.data
.loadpath
.sass-cache
