@mixin column-count($count, $rule, $gap) {
  -webkit-column-count: $count;
  -moz-column-count: $count;
  column-count: $count;

  -webkit-column-rule: $rule;
  -moz-column-rule: $rule;
  column-rule: $rule;

  -webkit-column-gap: $gap;
  -moz-column-gap: $gap;
  column-gap: $gap;
}

//   count: column count
//   rule: rule style
//   gap: padding between columns
// @include column-count(2, 1px solid #bbb, 2em)
