@mixin border-radius ($top-right, $top-left: false, $bottom-right: false, $bottom-left: false) {
	@unless ($top-left) { $top-left: $top-right }
	@unless ($bottom-right) { $bottom-right: $top-right }
	@unless ($bottom-left) { $bottom-left: $top-left }

  border-top-left-radius: $top-left;
  border-top-right-radius: $top-right;
  border-bottom-right-radius: $bottom-right;
  border-bottom-left-radius: $bottom-left;

  -webkit-border-top-left-radius: $top-left;
  -webkit-border-top-right-radius: $top-right;
  -webkit-border-bottom-right-radius: $bottom-right;
  -webkit-border-bottom-left-radius: $bottom-left;

  -moz-border-radius-topleft: $top-left;
  -moz-border-radius-topright: $top-right;
  -moz-border-radius-bottomleft: $bottom-left;
  -moz-border-radius-bottomright: $bottom-right;
}