// CSS3 Flexible Box Model and property defaults

// Custom shorthand notation for flexbox
@mixin box($orient: inline-axis, $pack: start, $align: stretch) {
  @include display-box;
  @include box-orient($orient);
  @include box-pack($pack);
  @include box-align($align);
}

@mixin display-box {
  display: -webkit-box;
  display: -moz-box;
  display: box;
}

// horizontal|vertical|inline-axis|block-axis|inherit
@mixin box-orient($orient: inline-axis) {
  @include mw-experimental(box-orient, $orient);
}

// start|end|center|justify
@mixin box-pack($pack: start) {
  @include mw-experimental(box-pack, $pack);
}

// start|end|center|baseline|stretch
@mixin box-align($align: stretch) {
  @include mw-experimental(box-align, $align);
}

// normal|reverse|inherit
@mixin box-direction($direction: normal) {
  @include mw-experimental(box-direction, $direction);
}

// single|multiple
@mixin box-lines($lines: single) {
  @include mw-experimental(box-lines, $lines);
}

@mixin box-ordinal-group($integer: 1) {
  @include mw-experimental(box-ordinal-group, $integer);
}

@mixin box-flex($value: 0.0) {
  @include mw-experimental(box-flex, $value);
}

@mixin box-flex-group($integer: 1) {
  @include mw-experimental(box-flex-group, $integer);
}
