@mixin opacity($val) {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity = #{$val*100});
  -moz-opacity: $val;
  -khtml-opacity: $val;
  opacity: $val;
  @include experimental(opacity, $val,
                        -moz, not -webkit, not -o, not -ms, -khtml, official);
}
